{% extends "base.html" %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block contents %}
{% if user %}
    <div class="container login-panel">
        <p>Hello, {{ user }}</p>
        <a href="/logoff">Log off</a>
    </div>
    {% else %}
        <div class="container login-panel">
            <a href="/login">Log in</a>
            <span>|</span>
            <a href="/signup">Sign up</a>
        </div>
    {% endif %}
<div class="text-center search-background">
    <div class="image-panel">
    <img id="logo" src="/images/chef.png">
    <img id="title" src="/images/title.png">
    </div>
    <form action="/search" method="get">
    <div class="container search-panel">
    <input type="text" name="searchTerm">
    <div class="button-panel">
    <button class="btns" type="submit">Search</button>
    <button id="add_new" class="btns">Add New</button>
    </div>
    </div>
</form>
</div>
{% endblock %}
{% block dependency %}
<script src="/dependency/home.js"></script>
{% endblock %}