{% extends "base.html" %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block contents %}
<div class="text-center search-background">
    <div class="image-panel">
    <img id="logo" src="/images/chef.png">
    <img id="title" src="/images/title.png">
    </div>
    <form action="/search" method="get">
    <div class="container search-panel">
    <input type="text" name="searchTerm">
    <div class="button-panel">
    <button class="btns" type="submit">Search</button>
    <button id="add_new" class="btns">Add New</button>
    </div>
    </div>
</form>
</div>
{% endblock %}
{% block dependency %}
<script src="/dependency/home.js"></script>
{% endblock %}